h1, h2, h3, h4, h5, h6 {
    color: white;   
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.51);
    border: none !important;
}

.navbar-default .container-fluid a, .navbar-default .collapse .nav a {
    color: white;
}

.navbar .container-fluid .navbar-header a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
}   

.navbar-default .collapse .nav a {
    font-family: 'Inconsolata';   
    font-size: 17px;
}

.navbar-default .collapse .nav a:hover {
    color: rgb(190, 232, 172);
    font-size: 19px;
}

.navbar-default .container-fluid a:hover {
    color: white;
}   

#hero-1 {
	background: url("../img/lab.jpg") no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
    opacity: 0.9;
}

#hero-1 h1 {
    font-family: 'Abel', sans-serif;
    font-size: 60px
}

#hero-1 h3 {
    font-family: 'Abel', sans-serif;
    font-size: 2.5em;
}

#header {
    background-color: #535353;
}

#header h1, #header h2, #header h3 {
    font-family: 'Maven Pro', sans-serif;
}

#diabetes {
    background-color: #a9bc5b;   
}

#overview {
    background-color: #3d85c3;
    padding-bottom: 15px;
}

.overview-divs {
    background-color: white;
    -webkit-box-shadow: 0px 0px 4px 5px rgb(155, 155, 155);
    -moz-box-shadow: 0px 0px 4px 5px rgba(97,97,97,1);
    box-shadow: 0px 0px 4px 5px rgba(97,97,97,1);
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
    
}

.overview-divs:hover {
      -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#core {
    background-color: #52a55c;   
}

#core-sub .row div {
    cursor: pointer;   
}

#background-txt, #method-txt, #results-txt {
    display: none;
}

#concl {
    background-color: #ffba68;   
}

#background h3, #method h3, #results h3 {
    font-family: 'Raleway', sans-serif;   
}

#core-txt h4, #concl h3.text-center, #diabetes .row h3 {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 26px;
    line-height: 30px;
}

#overview p {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 20px;
    line-height: 30px;
}

.container-fluid .row h1, .container-fluid h1 {
    font-family: 'Play', sans-serif;   
    font-size: 45px;
}

a:hover {
    text-decoration: none;   
}

.white-hover {
    color: #87ccff;
}

.white-hover:hover {
    color: #a9daff; 
}

.white-hover1 {
    color: #a9daff;
}

.white-hover1:hover {
    color: #c1e4ff;
}
#bib {
    background-color: #a7565c;   
}

#bib h2, h3, h4, p, a {
    font-family: 'Open Sans', sans-serif; 
    color: white;
}

#bib-txt1 h3 {
    padding-left: 8%;
    text-indent: -5%;
    line-height: 35px;
}

#overview div p {
    color: black;   
}